# Configurações do Django
SECRET_KEY=your-secret-key-here
DEBUG=True

# Configurações do Banco de Dados PostgreSQL
DB_NAME=sistema_advocacia
DB_USER=postgres
DB_PASSWORD=your-password-here
DB_HOST=your-vps-hostname-here
DB_PORT=5432

# API Keys
FERNET_KEY=your-fernet-key-here
